body {
    background-color: white;
}

ul {
  width: 100%;
  max-width: 100%;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

div.wiggle {
  display: inline-block;
  animation: none;
}

div.wiggle:hover {
  animation: wiggle 3s infinite;
}

.breadcrumb {
  height: 40px;
  font-size: 14px;
  padding: 8px;
  margin: 12px;
}

.iconmelon {
    display: block;
    margin: auto;
}

#center {
  text-align: center;
}

.panel {    
    background-color: transparent;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}